h3, h4 {
  margin: 0;
}

header h1 {
  text-align: center;
}

/*--------------------- mainContainer -------------------------*/

.mainContainer {
  width: 50%;
  margin: auto;
}
.mainContainer > div {
  margin: 2% 0;
  padding: 1%;
}

/*--------------------- missedWordContainer -------------------------*/

.missedWordContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2vh;
  background-color: #ff6666;
  border-radius: 2px;
  color: #fff;
  letter-spacing: 5px;
}

/*--------------------- wordContainer -------------------------*/

.wordContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 2vh;
}
.wordContainer > div {
  margin: 0 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*font-size: 1.25rem;*/
}
.wordBreakdown {
  border-bottom: 1px solid #000;
  width: 30px;
  /*padding-bottom: 8px;*/
}
.space {
  border-bottom: none;
  width: 30px;
}

/*--------------------- infoContainer -------------------------*/

.infoContainer {
  display: flex;
  flex-direction: row;
}
.infoContainer div {
  background-color: #1D7CF2;
  border-radius: 2px;
  flex: 1;
  color: #fff;
  height: 47px;
}
.infoContainer div h3,
.infoContainer div h4 {
  text-align: center;
  margin: 2px 0;
}
.infoContainer__lives {
  margin-left: 5px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.infoHint {
  text-align: left;
  padding-left: 5px;
}

/*--------------------- errorContainer -------------------------*/

.errorContainer {
  height: 2vh;
  color: red;
  text-align: center;
}

/*--------------------- stickmanContainer -------------------------*/

.stickmanContainer {
  display: flex;
  justify-content: center;
}

canvas{
  border: 2px dashed #000;
  padding:15px;
  width: 100%;
}

/*--------------------- answerContainer -------------------------*/

.answerContainer {
  display: flex;
  flex-direction: row;
}
.answerContainer div {
  display: flex;
  flex: 1;
}
.answerContainer__button {
  border: none;
  background-color: #009933;
  color: white;
  width: 100%;
  margin-right: 5px;
  border-radius: 2px;
  font-size: 1.15rem;
  cursor: pointer;
}
.answerContainer__button:hover {
  background-color: green;
}
.answerContainer__form {
  width: 100%;
  margin-left: 5px;
}
.answerContainer__form input {
  font-size: 1.15rem;
  width: 100%;
  box-sizing:border-box;
}
